@model CrudProduto.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valorCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valorCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dataCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comprador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comprador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fichaTecnica.descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fichaTecnica.descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fichaTecnica.componenteBasico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fichaTecnica.componenteBasico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fichaTecnica.componentePrimario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fichaTecnica.componentePrimario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fichaTecnica.componenteSecundario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fichaTecnica.componenteSecundario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fichaTecnica.categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fichaTecnica.categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fichaTecnica.subCategoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fichaTecnica.subCategoria)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@Model.id">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
