@model CrudProduto.Models.FichaTecnica

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FichaTecnica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.componenteBasico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.componenteBasico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.componentePrimario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.componentePrimario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.componenteSecundario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.componenteSecundario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subCategoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subCategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
