@model CrudProduto.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.senha1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.senha1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.senha2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.senha2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
